<!DOCTYPE html>
<html>

<head>
    <title>Covid-19 geolocator</title>
    <link rel="icon" href="img/icons8-coronavirus-64.png">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/628f2a2423.js" crossorigin="anonymous"></script>
    <script type="module" src="js/index.js" async></script>
    <meta property='og:title' content='COVID-19 Geotracker'/>
    <meta property='og:image' content='//img.icons8.com/nolan/64/ coronavirus.png'/>

</head>

<body>
    {{>header}}
    <section class="search-box">
        {{>searchtype}}
        {{>searchaddress}}
    </section>
    <section class="search-results">
        {{>searchresults}}
    </section>
    {{>footer}}
    <div class="notice">
        <p>NOTE: 'Hospitals' data source is currently outdated (no information from DOH data drop).</p>
    </div>
</body>

</html>