<!DOCTYPE html>
<html>

<head>
    <title>Covid-19 geolocator</title>
    <link rel="icon" href="img/icons8-coronavirus-64.png">
    <link rel="stylesheet" href="css/styles.css">
    <script type="module" src="js/index.js" async></script>
</head>

<body>
    {{>header}}
    <section class="search-box">
        {{>searchtype}}
        {{>searchaddress}}
    </section>
    <section class="search-results">
    </section>
</body>

</html>