<header>
    <h1>C<i class="fas fa-map-marker-alt"></i>VID<span class="header-span">-19</span></h1>
    <h2>GEOLOCATION QUERY</h2>
    <nav>
        <ul>
            <!--<li>hey</li>-->
        </ul>
    </nav>
</header>
