<div class="search-address">
    <input class="search-input" type="text" placeholder="please enter an address">
    <button class="submit-button">GO</button>
    <div class="search-suggestions">
        <!-- 
        <button class="suggestion">suggestion na mahaba grabe</button>
        <button class="suggestion">ito din suggestion na mahaba grabe</button>
        <button class="suggestion">suggestion na mahaba grabe</button>
        !-->
    </div>
</div>
