<p class="result-type"><i class="fas fa-search-location"></i>   SEARCH RESULTS</p>
    <article class="totals">
        <table class="confirmed-table">
            <tbody>
                <tr>
                    <th class="confirmed-head"><i class="fas fa-virus"></i> CONFIRMED</th>
                </tr>
                <tr>
                    <td class="confirmed-count">0</td>
                </tr>
            </tbody>
        </table>
        <table class="pui-table">
            <tbody>
                <tr>
                    <th class="pui-head"><i class="fas fa-person-booth"></i> PUIS</th>
                </tr>
                <tr>
                    <td class="pui-count">0</td>
                </tr>
            </tbody>
        </table>
        <ul>
            <!--
            <li>
            <div class="hospital-item">
                <h1>Hello</h1>
                <h2><i class="fas fa-virus"></i>  confirmed cases: 0 | <i class="fas fa-person-booth"></i>  under investigation: 0</h2>
            </div>
            </li>
            -->
        </ul>
        <br>
    </article>
</section>