<p class="result-type"><i class="fas fa-search-location"></i>   CURRENT STATISTICS IN THE PHILIPPINES</p>
<article class="totals">
    <p><i class="fas fa-file-medical-alt"></i>   SUMMARY as of {{dateToday}}</p>
    <table class="overall-table">
        <tbody>
            <tr>
                <th class="overall-head"><i class="fas fa-virus"></i> TOTAL CASES</th>
            </tr>
            <tr>
                <td class="overall-count count">0</td>
            </tr>
        </tbody>
    </table>
    <table class="overall-death-table">
        <tbody>
            <tr>
                <th class="overall-death-head"><i class="fas fa-skull-crossbones"></i> TOTAL DEATHS</th>
            </tr>
            <tr>
                <td class="overall-death-count count">0</td>
            </tr>
        </tbody>
    </table>
    <table class="total-recovered-table">
        <tbody>
            <tr>
                <th class="total-recovered-head"><i class="fas fa-walking"></i>  TOTAL RECOVERED</th>
            </tr>
            <tr>
                <td class="total-recovered-count count">0</td>
            </tr>
        </tbody>
    </table>
    <ul class="result-items">
        <li>
        <div class="day-item">
            <h1><i class="far fa-newspaper"></i>  UPDATES FOR TODAY {{dateToday}}</h1>
            <h2><i class="fas fa-head-side-mask"></i>  new cases: 0 |<i class="fas fa-skull-crossbones"></i>  new deaths: 0</h2>
        </div>
        </li>
    </ul>
    <br>
</article>
