<div class="search-address">
    <input class="search-input" type="text" placeholder="please enter an address">
    <button class="submit-button">GO</button>
    <div class="search-suggestions">
        <!-- 
        <button class="suggestion">suggestion na mahaba grabe</button>
        <button class="suggestion">ito din suggestion na mahaba grabe</button>
        <button class="suggestion">suggestion na mahaba grabe</button>
        !-->
    </div>
    <div class="geoimg-container">
        <!--
        <img class="geoimg" src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-s+FF0000(120.86667,14.26667)/120.86667,14.26667,14,20/600x300?access_token=pk.eyJ1Ijoiamlyb3F1aWphbm8iLCJhIjoiY2s4MXJvbW9xMHRwNzNtb3E4djltN3UxaCJ9.XJy-r35twz2mNNXikiALHA">
        -->
    </div>
</div>
