<p class="result-type"><i class="fas fa-search-location"></i>   SEARCH RESULTS</p>
<article class="totals">
    <p><i class="fas fa-file-medical-alt"></i>   SUMMARY</p>
    <table class="admitted-table">
        <tbody>
            <tr>
                <th class="admitted-head"><i class="fas fa-head-side-mask"></i> ADMITTED</th>
            </tr>
            <tr>
                <td class="admitted-count count">0</td>
            </tr>
        </tbody>
    </table>
    <table class="dead-table">
        <tbody>
            <tr>
                <th class="dead-head"><i class="fas fa-skull-crossbones"></i> DEAD</th>
            </tr>
            <tr>
                <td class="dead-count count">0</td>
            </tr>
        </tbody>
    </table>
    <table class="recovered-table">
        <tbody>
            <tr>
                <th class="recovered-head"><i class="fas fa-walking"></i> RECOVERED</th>
            </tr>
            <tr>
                <td class="recovered-count count">0</td>
            </tr>
        </tbody>
    </table>
    <ul class="result-items">
        <li>
        <div class="individual-item">
            <h1><i class="fas fa-head-side-mask"></i></h1>
            <h1>Case Number 0</h1>
            <h2>  status: 0 |   age: 0 |  gender: 0</h2>
            <h2>  nationality: 0 | admitted to: 0</h2>
        </div>
        </li>
    </ul>
    <br>
</article>

<!--
<p class="result-type"><i class="fas fa-search-location"></i>   SEARCH RESULTS</p>
<article class="totals">
    <p><i class="fas fa-file-medical-alt"></i>   SUMMARY</p>
    <table class="confirmed-table">
        <tbody>
            <tr>
                <th class="confirmed-head"><i class="fas fa-virus"></i>CONFIRMED</th>
            </tr>
            <tr>
                <td class="confirmed-count">0</td>
            </tr>
        </tbody>
    </table>
    <table class="pui-table">
        <tbody>
            <tr>
                <th class="pui-head"><i class="fas fa-person-booth"></i> PUIS</th>
            </tr>
            <tr>
                <td class="pui-count">0</td>
            </tr>
        </tbody>
    </table>
    <ul class="result-items">
        <li>
        <div class="hospital-item">
            <h1>Hello</h1>
            <h2><i class="fas fa-virus"></i>  confirmed cases: 0 | <i class="fas fa-person-booth"></i>  under investigation: 0</h2>
        </div>
        </li>
    </ul>
    <br>
</article>
-->